# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: norlab_icp_mapper
repo_url: https://github.com/norlab-ulaval/norlab_icp_mapper
edit_uri: edit/master/doc
site_description: "A 2-D/3-D mapping library relying on the 'Iterative Closest Point' algorithm."
docs_dir: 'docs'
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.footer
    - navigation.tabs.sticky
    - navigation.top
    - content.tabs
    - content.code.copy
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/norlab-ulaval/norlab_icp_mapper
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/norlab/
    - icon: fontawesome/solid/globe
      link: https://norlab.ulaval.ca
markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
nav:
- Home: 'index.md'
- Compilation: 'Compilation.md'
- 'Example: building a map from lidar scans': 'RunningExample.md'
- 'How to configure the Mapper': 'MapperConfiguration.md'
- 'Creating a MapperModule': 'MapperModuleDev.md'
- 'How to use norlab_icp_mapper in ROS?': 'UsingInRos.md'
